<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <style>
            * {padding: 0; margin: 0;}
            html, body {padding: 0; margin: 0;}
            ul, li {
                padding: 0;
                margin: 0;
                list-style: none;
            }
            .main-form-block div.error {
                display: block;
                color: #8b0000;
                margin: 10px 0;
            }
            
            .main-form-block div.limit {
                display: block;
                margin: 10px 0 30px;
            }
            
            .main-form-block {
                display: block;
                width: 600px;
                margin: 10% auto 0;
                padding: 20px 40px;

                -webkit-box-shadow: 0 0 40px 0 rgba(0,0,0,0.5);
                -moz-box-shadow: 0 0 40px 0 rgba(0,0,0,0.5);
                box-shadow: 0 0 40px 0 rgba(0,0,0,0.5);

                border-radius: 5px 5px 5px 5px;
                -moz-border-radius: 5px 5px 5px 5px;
                -webkit-border-radius: 5px 5px 5px 5px;
                border: 0 solid #000000;
                text-align: center;
            }
            .main-form-block > form > div,
            .main-form-block > form > div.limit > div {
                display: inline-block;
                margin-right: 10px;
            }

            .main-form-block > form label {
                display: none;
            }
            .main-form-block > form input {
                display: inline-block;
                width: 400px;
                height: 36px;
                line-height: 42px;
                padding: 0 10px;
                font-size: 16px;
            }
            .main-form-block div.limit input {
                display: inline-block;
                width: 200px;
                height: 36px;
                line-height: 42px;
                padding: 0 10px;
                font-size: 16px;
            }
            .main-form-block > form button[type=submit] {
                display: inline-block;
                height: 36px;
                padding: 0 10px;
                font-size: 16px;
                cursor: pointer;
            }
            .hidden {
                display: none !important;
            }
        </style>
    </head>
    <body>
        <div class="main-form-block">
            {{ form_start(formView) }}
                <div class="limit{{ limitReached ? '' : ' hidden' }}">
                    <div class="error">Git Hub limit was reached.</div>
                </div>
    
                {{ form_row(formView.name) }}
                {{ form_row(formView.generate) }}
            
                <div class="error">
                    {{ form_errors(formView) }}
                </div>
            {{ form_end(formView) }}
        </div>
    </body>
</html>
