<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <style>
        * {padding: 0; margin: 0;}
        html, body {padding: 0; margin: 0;}
        ul, li {
            padding: 0;
            margin: 0;
            list-style: none;
        }
        .main-block {
            display: block;
            width: 600px;
            margin: 20px auto 0;
            padding: 20px 40px;

            -webkit-box-shadow: 0 0 40px 0 rgba(0,0,0,0.5);
            -moz-box-shadow: 0 0 40px 0 rgba(0,0,0,0.5);
            box-shadow: 0 0 40px 0 rgba(0,0,0,0.5);

            border-radius: 5px 5px 5px 5px;
            -moz-border-radius: 5px 5px 5px 5px;
            -webkit-border-radius: 5px 5px 5px 5px;
            border: 0 solid #000000;
            text-align: left;
        }
        .main-block ul li {
            padding: 0 0 0 15px;
        }
        .main-block ul.repos li {
            padding: 10px 0 15px 15px;
            border-bottom: 1px solid #000000;
        }
        .main-block ul {
            margin: 5px 0 25px;
        }
        .justify {
            text-align: justify;
        }
    </style>
</head>
<body>
    <div class="main-block">
        <div><b>User:</b> {{ account.username }}</div>
        {% if account.website is not empty %}
            <div><b>Website:</b> {{ account.website }}</div>
        {% endif %}
        <div><b>Count repositories:</b> {{ account.repositories|length }}</div>
        {% if account.languagePercentages|length %}
            <div><b>Account languages:</b></div>
            <ul>
            {% for lang, percent in account.languagePercentages %}
                <li>{{ lang }} &mdash; {{ percent }}%</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% if account.repositories|length %}
            <div><b>Account repositories:</b></div>
            <ul class="repos">
            {% for repository in account.repositories %}
                <li>
                    <b>{{ repository.name }}</b><br>
                    GitHub URL: <a href="{{ repository.link }}">{{ repository.link }}</a><br>
                    <i>{{ repository.description }}</i><br><br>
                    <div class="justify">
                        {% for language in repository.languages %}
                            {{ language.name }}({{ language.percent }}%) <br>
                        {% endfor %}
                    </div>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
</body>
</html>